@{
    ViewBag.Title = "Home Page";
}
<div class="text-center">
    <p>
        <h1>Welcome to <img src="~/production/images/fptlogo.png" alt="FPT Company Logo" style="width:80px;height:80px;" /> HR System</h1>
    </p>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="width: 100%; max-width: 800px; !important; margin: auto;">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/production/images/gre.jpg" alt="First slide">
        </div>
    </div>
</div>
